html,
body {
    margin: 0;
    overflow: scroll;
    height: 100%;
    font-family: 'Barlow', sans-serif;
}
::-webkit-scrollbar { 
    display: none; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-style: bold;
}
/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

canvas {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}

section.header {
    position: absolute;
    height: 100%;
    z-index: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: center;
    padding: 10% 0;
}
.header h1 {
    font-size: 18vmin;
    font-style: bold;
    text-align: center;
    line-height: 18vmin;
    text-transform: uppercase;
}
.header h2 {
    font-size: 14.3vmin;
    text-align: center;
    line-height: 14.3vmin;
    text-transform: uppercase;
}
.header {
    position: relative;
    width: 100%;
    height: 100%;
}

section.post {
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
}

.responsibility2, .complex2, .intellectual2 {
    display:none;
}

a#postlink {
    color: black;
}

p.caption {
    font-style: italic;
    opacity: 0.5;
}

iframe {
    border: none;
    width: 100%;
    height: 100vh;
}
